*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    background-color: rgb(90,192,206);
    padding: .8rem 0;
    position:fixed;
    top:0;
    z-index: 10;
}
.dh{   
    display: flex;
    width: 100%;
    padding: 1rem 0;
    align-items: center;
}
.dhh{
    width: 100%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-left:2rem ;
}
.b1,.b2{
    border-radius: .5rem;
    width: 20%;
    border:none;
    margin-right: -2rem;
    font-size: 2rem;
}
.wz{
    margin-top: auto;
}
.wz  button{
    border: none;
    outline: none;
    background-color: rgb(90,192,206);
}
.dh aa{
    background: url("aa.gif") no-repeat;
    padding:1.5rem;
    background-size: contain;
}
.b1{
    background-color: rgb(81,168,180);
    color:white;
}
.b2{
    background-color: white;
    color:rgb(90,192,206);
    
}
main{
    margin-top: 6rem;
    margin-bottom: 6rem;
}
#btn{
    width:100%;    
    display: flex;
    padding: 2rem 0 1rem;
}
#btnb , #btnb ul{
    width: 100%;
}
#btnb button{
    width: 100%;
    color: rgb(184,184,185);
    font-size: 2rem;
}
#btnb  a{    
    color: rgb(184,184,185);
    text-align: center;
}
#btn .caret{
    float: right;
    margin-top: .8rem;
}
#btnbb{
    border: none;
    border-right: .3rem solid rgb(224,224,224);
}
#btnbb1{
    border:none;
}
.partt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .1rem solid rgb(184,184,185);
}
.part1{
    padding-top: 1rem ;
}
.part1 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.part1 li{
    margin:1rem 0;
    color: rgb(184,184,185);
    margin: 1rem 0 1rem 2rem;
}
.part1 a{
    background: url("01.gif")no-repeat;
    background-size: contain;
    padding: 2rem 2rem 0 2rem ;
    margin: 1rem;
    vertical-align: sub;
}
.part1 aa{
    background: url("02.gif")no-repeat;
    background-size: contain;
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    vertical-align: sub;
}
.part1 li:nth-child(2){
    color: black;
    margin-left: 8rem;
    font-size: 3rem;
}
.part2 a1{
    color: red;
    font-size: 3rem;
}
.part2 a{
    background: url("03.gif")no-repeat;
    background-size: contain;
    padding: .5rem 1rem 0 1rem ;
    vertical-align: middle;
    margin-left: 1rem;
}

footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.part31 , .part33{
    display: flex;
    flex-direction: column;   
    align-items: center; 
}
.part31 div {
    background: url("xbt.png") no-repeat -124px -10px;
    width: 46px;
    height: 40px;
    /*background: url("z.gif")no-repeat;
    background-size: contain;
    padding:2rem;*/
}
/*.part32{
    margin-top: 2rem;
}*/
.part32 div{
    background: url("xbt.png") no-repeat -10px -10px;
    width: 94px;
    height: 94px;
    /*background: url(l.gif)no-repeat;
    background-size: contain;
    padding: 3rem;*/
}
.part33 div{
    background: url("xbt.png") no-repeat -10px -124px;
    width: 42px; height: 41px;
    /*background: url(w.gif)no-repeat;
    background-size: contain;
    padding: 2rem ;*/
}
footer aa{
    font-size: 2rem ;
}
.part31 aa{
    color: rgb(91,194,206);
}
.part33 aa{
    color: rgb(184,184,185);
}
footer button{
    border: none;
    outline: none;
    background-color: white;
}