*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background-color: rgb(90,192,206);
    position: fixed;
}
.tc{    
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.tc a{
    color: white;
    font-size: 2rem;
}
.tc aa{
    font-size: 1.4rem;
    color: white;
}
.tc aaa{
    color: rgb(90,192,206);
}
.photo{
    background: url("bk.gif")no-repeat;
    background-size: cover;
    padding: 5rem 0;
}
.p2{
    background: url("tx.gif")no-repeat;
    background-size:contain ;
    padding: 2rem;
    margin: -6rem 0 2rem 2rem;
}
.bt{
    display: flex;
}
.txt1{
    margin-top:-5rem;
    margin-left:2rem ;
}
.txt1 ul{
    list-style: none;
    color: white;
}
.txt1 a{
    background: url("wa.gif")no-repeat;
    background-size: contain;
    padding: 0 .5rem .3rem;
}
.jieshao,.jianjie li{
    border-bottom: .1rem solid rgb(240,242,243);
    padding: .5rem 0 .5rem .5rem;
}
.jieshao a{
    border-left: .2rem solid rgb(90,192,206);
    padding-left: .8rem ;
    white-space: nowrap;
}
.jianjie{
    list-style: none;
    padding-left:1rem ;
}
.jianjie aa{
    background: url("bj.png") no-repeat;
    padding: .4rem 1.7rem .1rem 0;
    vertical-align: middle;
}
.jianjie a1{
    padding-right:.5rem ;
    white-space: nowrap;
    color: rgb(153,153,153);
    border-right:solid ;
    vertical-align: middle;
}
.jianjie a2{
    padding-right:1rem ;
    white-space: nowrap;
}
.jianjie a3{
    color:red;
    padding-left: .5rem;
}
.jianjie ab{
    padding-left: .5rem;
}
.gs{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.jianjie a{
    white-space: nowrap;
    padding-left:.5rem ;
}
form{
    display: flex;
    justify-content: space-around;
    background-color: white;
}
form div{
    width: 40%;
}
form input{
    width:100%;
    border-radius:.5rem ;
    font-size: 1rem;
    height: 2rem;
}
.tel input{
    background-color: rgb(90,192,206);
    border: none;
    color: white;
}
.yan input{
    background-color: white;
    border: solid rgb(90,192,206);
    color: rgb(90,192,206);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}